//Audacious and Vibrant Palette

$main-color: #CAFAFE;
$background-color: rgba(252, 68, 69, 0.5);
$internal-dimension: 12rem;

.drum {
    background-image: linear-gradient($background-color, transparent),
                        url(https://github.com/alejandracol/front-end-libraries-projects/blob/main/src/multimedia/music-concert-img.jpg?raw=true);
    background-size: cover;

    .card {
        padding: 0.5rem;
        width: 100%;
        max-width: 18rem;
        background-color: $main-color;

        .card-img-top {
            height: $internal-dimension;
            width: auto;
            background-color: black;
        }

        .card-body {
            width: 90%;
            margin: auto;
            z-index: 5;

            .btn {
                height: 2.3rem; width: 2.5rem;
                color: black;
                font-weight: 500;
            }

            .btn:hover, .btn:focus {
                box-shadow: none;
            }

            .btn:active {
                transform: scale(1.25);
            }
        }

        .card-body::after {
            content: "";
            position: absolute;
            left: 3rem;
            bottom: 1.4rem;
            height: $internal-dimension;
            width: $internal-dimension;
            border-radius: 50%;
            background: radial-gradient(circle, darken($background-color, 20%) 0% 28%, transparent 28% 30%, rgba(0, 0, 0, 0.2) 30%);
            border: 1px solid rgba(0, 0, 0, 0.1); 
            z-index: -1;
        }
    }
}

